[Desktop Entry]
GenericName=LVM Frontend
Name=KVPM
Comment=KDE Volume Partition Manager
Exec=/usr/sbin/kvpm
X-KDE-SubstituteUID=true
Type=Application
Categories=Qt;KDE;System;
Icon=kvpm