[Desktop Entry]
GenericName=LVM Volume And Partition Manager
Name=KVPM
Comment=KDE 
Exec=/usr/sbin/kvpm
X-KDE-SubstituteUID=true
Type=Application
Categories=Qt;KDE;System;
Icon=kvpm
X-DocPath=kvpm/index.html